@import config.sass

@mixin img-resp()
    width: 100%
    height: 100%

html
    scroll-behavior: auto !important

*::-webkit-media-controls-panel
    display: none!important
    -webkit-appearance: none

*::-webkit-media-controls-play-button
    display: none!important
    -webkit-appearance: none

*::-webkit-media-controls-start-playback-button
    display: none!important
    -webkit-appearance: none

.container
    max-width: 183rem

.hidden
    overflow: hidden

.btn
    display: block
    padding: 0.4rem 0.8rem 0.4rem 0.8rem
    background: rgba(0, 0, 0, 0.31)
    border: 1px solid #D8CA9C
    box-sizing: border-box
    font-family: 'Source Sans Pro Regular'
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 121.19%
    text-transform: uppercase
    color: #FFFFFF
    cursor: pointer

.btn-light
    display: block
    padding: 0.8rem 1.5rem 0.8rem 1.5rem
    border: 1px solid #D8CA9C
    box-sizing: border-box
    background: none
    font-family: 'Jost Regular'
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 121.19%
    text-transform: uppercase
    color: #1F1F1F
    white-space: nowrap
    text-align: center

.header
    position: relative
    z-index: 10
    &__logo
        margin-top: 0.2rem
        margin-left: 2.7rem
        display: flex
        align-items: center
        &-offer
            margin-left: 0.8rem
            margin-top: 0.7rem
            font-family: 'Jost Regular'
            font-size: 0.4rem
            color: #fff
            line-height: 121.19%
            white-space: nowrap
            text-transform: uppercase
    &__video
        display: block
        width: 22rem
        height: 7.3rem
        margin: auto
        text-align: center
        img
            position: sticky
            top: 0
            @include img-resp
    &__social
        position: absolute
        bottom: 1.3rem
        left: 2.7rem
        display: flex
        z-index: 1
        &-wr
            position: relative
            margin-right: 0.4rem
            width: 1.4rem
            height: 1.4rem
            border: 1px solid #2E201D
            box-sizing: border-box
            border-radius: 4px
            &:hover
                border: 1px solid #CDCDCD
        &-img
            cursor: pointer
            img
                width: 0.6rem
                height: 0.6rem
                margin: 0
                position: absolute
                top: 50%
                left: 50%
                margin-right: -50%
                transform: translate(-50%, -50%)
    &__btn
        margin-left: 0.4rem
        &:hover
            -webkit-transform: scale(1.2)
            -ms-transform: scale(1.2)
            transform: scale(1.2)

.s-main-banner
    position: relative

.main-banner-bg-img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 0
    img
        display: block
        width: 100%
        min-height: 100vh
        object-fit: cover
        position: sticky
        top: 0
    video
        display: block
        width: 100%
        min-height: 100vh
        object-fit: cover
        position: sticky
        top: 0
        filter: opacity(85%) brightness(30%)

.main-banner
    position: relative
    z-index: 1
    &-section
        min-height: 100vh
        display: flex
        align-items: center
        justify-content: center
        font-size: 22px
        font-weight: 600
        position: relative
    &-section-content
        max-width: 48rem
        text-align: center
        font-family: 'Jost Regular'
        font-style: normal
        font-weight: 300
        font-size: 48px
        line-height: 113.69%
        text-transform: uppercase
        color: #939393
        img
            margin: 0
            position: absolute
            top: 36%
            left: 50%
            margin-right: -50%
            transform: translate(-50%, -50%)

.nav
    display: inline-block
    float: right
    white-space: nowrap
    &__item
        margin-right: 0.9rem
        display: inline-block
        position: relative
    &__link
        position: relative
        font-size: 0.4rem
        font-family: 'Jost Regular'
        color: #CDCDCD
        text-decoration-line: underline
        text-transform: uppercase
        &:hover
            color: #fff

.pagination
    transform: rotate(90deg)
    position: fixed
    right: -1rem
    top: 50vh
    z-index: 10
    &__dot
        position: relative
        width: 5px
        height: 5px
        border: 2px solid #646464
        background: #646464
        border-radius: 100px
        display: inline-block
        cursor: pointer
        transition: .3s
        &--active
            width: 8px
            height: 8px
            background: #D8CA9C
            border: 2px solid #D8CA9C
        &:hover
            width: 8px
            height: 8px
            transition: .3s
            border-color: lighten(#D8CA9C, 70%)
            background: lighten(#D8CA9C, 70%)

.section
    min-height: 32.5rem
    position: relative
    &__right
        float: right
        width: 61%
        height: 32.5rem
        position: relative
        z-index: 1
        img
            @include img-resp()
            background-repeat: no-repeat
            background-size: cover
            background-position: top center
            object-fit: cover
    &__left
        float: left
        width: 39%
        padding-top: 5.3rem
        padding-left: 3.4rem
        &-title
            font-family: 'Lora Regular'
            font-style: normal
            font-weight: normal
            font-size: 2.5rem
            line-height: 121.19%
            text-transform: uppercase
            white-space: nowrap
            position: relative
            z-index: 1
    &__wr
        background: #FCFCFB
        position: absolute
        top: 7.2rem
        left: 4.8rem
        padding: 3rem 0rem 3rem 2rem
        width: 24rem
        z-index: 3
        &-title
            font-family: 'Lora Regular'
            font-style: normal
            font-weight: normal
            font-size: 48px
            line-height: 121.19%
            text-transform: uppercase
            color: #1F1F1F
        &-subtitle
            width: 12rem
            margin-top: 0.6rem
            font-family: 'Jost Regular'
            font-style: normal
            font-weight: normal
            font-size: 18px
            line-height: 146.19%
            color: #A5A7B6
            margin-bottom: 30px
        &-link
            margin-top: 0.1rem
            font-family: 'Jost Regular'
            font-style: normal
            font-weight: normal
            font-size: 18px
            line-height: 121.19%
            text-transform: uppercase
            color: #1F1F1F
            cursor: pointer
            border: none
            background: none
        &-bottom
            display: flex
            align-items: center
        &-arrow
            margin-left: 1.2rem
            height: 2.3rem
            position: relative
            z-index: 2
            cursor: pointer
            img
                position: relative
                z-index: 3
        &-arrow::after
            content: ''
            width: 3.7rem
            height: 3.7rem
            display: inline-block
            border: 1px solid #e4d9d5
            border-radius: 100%
            position: absolute
            top: -0.6rem
            left: 2.1rem
            z-index: 1
    &__img
        &-1
            position: absolute
            top: 0
            right: 0
        &-2
            position: absolute
            right: 2.5rem
            bottom: 0
            width: 240px
            height: 270px
            img
                @include img-resp
        &-3
            position: absolute
            right: 1.43rem
            top: 1.2rem
        &-4
            position: absolute
            right: 1rem
            top: 1rem
        &-5
            position: absolute
            top: 1.3rem
            right: 1.9rem
        &-6
            position: absolute
            right: 0.7rem
            bottom: 3.2rem
    &__line
        position: absolute
        top: 1.6rem
        left: -1.5rem
        width: 4rem
        border: 1px solid #E4D9D5
    &__btn
        margin-top: 1.4rem
        margin-left: 3.5rem
        .btn-light
            padding: 0.8rem 3rem 0.6rem 2.9rem

.section-gray
    background: #F0F0F0
    &-title
        color: #F0F0F0
        -webkit-text-stroke: 1px #E4D9D5

.section-black
    background: #1F1F1F
    .section__left-title
        color: #1F1F1F
        -webkit-text-stroke: 1px #484848
    .section__wr
        background: #383835
    .section__wr-title
        color: #FFFFFF
    .section__wr-subtitle
        color: #7B7B7B
        width: 13rem
    .section__wr-link
        color: #FFFFFF
    .section__wr-arrow::after
        border: 1px solid rgba(123, 123, 123, 0.3)
    .section__line
        border: 1px solid #EDE5CC

.section-brown
    background: #E7DFD0
    .section__left-title
        color: #E7DFD0
        -webkit-text-stroke: 1px #AEAA7E
    .section__wr
        background: #F5F3E6
    .section__wr-title
        color: #9B977E
    .section__wr-subtitle
        color: #BFBA9F
        width: 11rem
    .section__wr-link
        color: #44380D
    .section__wr-arrow::after
        border: 1px solid #C3BEA3
    .section__line
        border: 1px solid #9B967E

.section-white
    .section__left-title
        color: #FFFFFF
        -webkit-text-stroke: 1px #E3E3E3
    .section__wr
        background: #F4F4F4
    .section__wr-title
        color: #1F1F1F
    .section__wr-subtitle
        color: #A5A7B6
        width: 11rem
    .section__line
        border: 1px solid #D7D7D7

.swiper
    height: 100%
.swiper-button-next:after
    content: ''
.swiper-button-prev:after
    content: ''
.swiper__pagination
    display: flex
    position: relative
    bottom: 2.9rem
    left: 2.3rem
    width: 6rem
.activity-media-button-prev
    background: url("../img/icon/swiper-left.svg") center no-repeat
    &::before
        content: ''
        background: url("../img/icon/swiper-left.svg") center no-repeat
        width: 2rem
        height: 2rem
        position: absolute
        z-index: 2
    &::after
        content: ''
        width: 3.7rem
        height: 3.7rem
        display: inline-block
        background: rgba(0, 0, 0, 0.67)
        border: 1px solid #565656
        border-radius: 100%
        position: absolute
        top: -1.1rem
        left: -1.3rem
.activity-media-button-next
    background: url("../img/icon/swiper-right.svg") center no-repeat
    margin-left: 4rem
    &::before
        content: ''
        background: url("../img/icon/swiper-right.svg") center no-repeat
        width: 2rem
        height: 2rem
        position: absolute
        z-index: 2
    &::after
        content: ''
        width: 3.7rem
        height: 3.7rem
        display: inline-block
        background: rgba(0, 0, 0, 0.67)
        border: 1px solid #565656
        border-radius: 100%
        position: absolute
        top: -1.1rem
        left: -1.2rem

.activity-prev
    background: url("../img/icon/swiper-left.svg") center no-repeat
    &::before
        content: ''
        background: url("../img/icon/swiper-left.svg") center no-repeat
        width: 2rem
        height: 2rem
        position: absolute
        z-index: 2
    &::after
        content: ''
        width: 3.7rem
        height: 3.7rem
        display: inline-block
        background: rgba(0, 0, 0, 0.67)
        border: 1px solid #565656
        border-radius: 100%
        position: absolute
        top: -1.1rem
        left: -1.3rem
.activity-next
    background: url("../img/icon/swiper-right.svg") center no-repeat
    margin-left: 4rem
    &::before
        content: ''
        background: url("../img/icon/swiper-right.svg") center no-repeat
        width: 2rem
        height: 2rem
        position: absolute
        z-index: 2
    &::after
        content: ''
        width: 3.7rem
        height: 3.7rem
        display: inline-block
        background: rgba(0, 0, 0, 0.67)
        border: 1px solid #565656
        border-radius: 100%
        position: absolute
        top: -1.1rem
        left: -1.2rem

.title-center
    margin-left: 3.5rem
    margin-top: 0.4rem

.events-media__content-wrap
    position: absolute
    top: 15.6rem
    left: 10.3rem
    width: 20rem
    height: 16rem
    z-index: 2

.events-media__item
    background: #F5F5F5
    padding-top: 1.9rem
    padding-left: 1.7rem
    max-height: 14rem
    &-data
        font-family: 'Source Sans Pro Regular'
        font-style: normal
        font-weight: normal
        font-size: 0.6rem
        line-height: 121.19%
        color: #969696
    &-title
        margin-top: 0.8rem
        font-family: 'Lora Regular'
        font-style: normal
        font-weight: normal
        font-size: 1.3rem
        line-height: 121.19%
        text-transform: uppercase
        color: #1F1F1F
    &-descr
        font-family: 'Jost Regular'
        font-style: normal
        font-weight: normal
        font-size: 0.6rem
        line-height: 1.28
        color: #a5a7b6
        margin-top: 0.6rem
        width: 16rem
.events-swiper-navigation
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 5rem
    height: 6rem
    position: absolute
    top: 22.5rem
    left: 4rem

.events-prev
    border: none
    background: url("../img/icon/arrow-left-black.svg") center no-repeat
    width: 2rem
    height: 2rem
    position: relative
    padding: 0
    margin: 0
    &::after
        content: ''
        width: 3.7rem
        height: 3.7rem
        display: inline-block
        border: 1px solid #E4D9D5
        border-radius: 100%
        position: absolute
        top: 0
        left: 0
        transform: translate(-25%, -25%)
.events-next
    border: none
    background: url("../img/icon/arrow-right-black.svg") center no-repeat
    width: 2rem
    height: 2rem
    margin-top: 2.2rem
    position: relative
    padding: 0
    margin: 0
    &::after
        content: ''
        width: 3.7rem
        height: 3.7rem
        display: inline-block
        border: 1px solid #E4D9D5
        border-radius: 100%
        position: absolute
        top: 0
        left: 0
        transform: translate(-25%, -25%)

.events-pagination
    position: absolute
    top: 10.9rem
    left: -7.4rem !important
    .swiper-pagination-bullet
        width: 13px
        height: 3px
        background: #D8CA9C
        opacity: 1
        border-radius: 0%
    .swiper-pagination-bullet-active
        position: relative
        width: 13px
        height: 45px
        background: url("../img/icon/wineglass.svg") center no-repeat
        &::before
            content: ''
            width: 13px
            height: 3px
            background: #7C7470
            position: absolute
            bottom: 0
            left: 0
.events-photo-media__content-wrap
    margin-top: 1rem
    height: 30.6rem

.news
    padding: 2.7rem 0 0 5rem
    &__title
        padding-left: 1.9rem
        width: 19rem

.news-media__content-wrap
    margin-top: 1.8rem
    height: 26.5rem

.news-swiper-navigation
    position: absolute
    top: 1.8rem
    right: 16.3rem
    .events-next
        margin-left: 2rem

.news-media__item
    width: 38.2rem
    &-wr1
        position: relative
        width: 99%
        img
            width: 100%
    &-wr2
        background: #FFFFFF
        position: absolute
        top: 10.8rem
        left: 2rem
        width: 21.1rem
        padding: 1.5rem 1.2rem 2rem 1.5rem
        &-data
            font-family: 'Source Sans Pro Regular'
            font-style: normal
            font-weight: normal
            font-size: 0.6rem
            line-height: 121.19%
            color: #969696
        &-title
            margin-top: 0.8rem
            font-family: 'Lora Regular'
            font-style: normal
            font-weight: normal
            font-size: 1.3rem
            line-height: 121.19%
            color: #1F1F1F
        &-btn
            margin-top: 2rem
            .btn-light
                padding: 0.7rem 4.8rem 0.7rem 4.9rem

.contacts
    &__img
        position: relative
        z-index: 2
        width: 1.8rem
        height: 1.8rem
        &::after
            content: ''
            width: 1.8rem
            height: 1.8rem
            display: inline-block
            border: none
            border-radius: 100%
            background: #fff
            position: absolute
            top: 0
            left: 0
            z-index: 1
        img
            position: relative
            z-index: 2
            display: block
            margin: 0 auto
            top: 28%
    &__text
        margin-top: 0.4rem
        font-family: 'Jost Regular'
        font-style: normal
        font-weight: normal
        font-size: 18px
        line-height: 123.69%
        color: #1F1F1F
        width: 16rem
    &__address
        margin-top: 0.7rem
    &__connection
        margin-top: 1.5rem
        display: flex
        align-items: center
        &-wr
            display: flex
            align-items: center

.contacts__text-element
    width: 8rem
    margin-left: 0.5rem

.map
    padding: 16.3rem 0 0 0
    position: relative
    &__location
        width: 100%
        height: 32.5rem
        border: none
        border-radius: 3rem

.ymaps-2-1-79-map
    width: 100%

[class*="ymaps-2"][class*="-ground-pane"]
    -webkit-filter: grayscale(100%)

.footer
    background: #1F1F1F
    padding: 2rem 0 2.2rem 0
    &__text
        display: block
        margin: 0 auto
        width: 30rem
        font-family: 'Lora Regular'
        font-style: normal
        font-weight: normal
        font-size: 1rem
        line-height: 121.19%
        text-align: center
        text-transform: uppercase
        color: rgba(255, 255, 255, 0.6)
    &__buy
        margin-top: 1rem
        font-family: 'Jost Regular'
        font-style: normal
        font-weight: normal
        font-size: 0.6rem
        line-height: 121.19%
        text-align: center
        text-transform: uppercase
        color: #FFFFFF

// Modal
.modal
    display: none
    position: fixed
    z-index: 1
    padding-top: 100px
    left: 0
    top: 0
    max-width: 100vw
    height: 100%
    overflow: auto
    background: rgba(0, 0, 0, 0.74)
    z-index: 10

    .modal-content
        position: relative
        background-color: #FFFFFF
        margin: auto
        padding: 0
        width: 52%
        height: 75%
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
        -webkit-animation-name: animatetop
        -webkit-animation-duration: 0.4s
        animation-name: animatetop
        animation-duration: 0.4s

@-webkit-keyframes animatetop
    from
    top: -300px
    opacity: 0
    to
    top: 0
    opacity: 1
@keyframes animatetop
    from
        top: -300px
        opacity: 0
    to
        top: 0
        opacity: 1

.close
    color: #818181
    font-size: 28px
    position: absolute
    top: -1.2rem
    right: -0.3rem
    z-index: 2
    cursor: pointer
    &::after
        content: ''
        width: 1.5rem
        height: 1.5rem
        background: rgba(0,0,0,.67)
        border: 1px solid #565656
        border-radius: 100%
        display: inline-block
        position: absolute
        top: 0.4rem
        right: -0.4rem
        z-index: -1

.modal-swiper-navigation
    position: absolute
    top: 0

.tovar-media__item
    &-right
        float: right
        width: 50%
        height: 100%
        img
            @include img-resp
    &-left
        float: left
        width: 50%
        height: 100%
        position: relative
        img
            @include img-resp

.tovar
    &__wr
        top: 1.5rem
        position: absolute
        margin-left: auto
        margin-right: auto
        left: 0
        right: 0
        text-align: center
        &-header
            font-family: 'Jost Regular'
            font-style: normal
            font-weight: normal
            font-size: 8px
            line-height: 108.69%
            text-align: center
            color: #BBA260
        &-count
            font-family: 'Lora Regular'
            font-style: normal
            font-weight: normal
            font-size: 18px
            line-height: 121.19%
            text-transform: uppercase
            color: #BBA461
            margin-top: 2rem
            text-align: center
        &-title
            font-family: 'Lora Regular'
            font-style: normal
            font-weight: normal
            font-size: 28px
            line-height: 121.19%
            text-transform: uppercase
            color: #1F1F1F
            margin-top: 0.3rem
        &-block
            margin-top: 1.5rem
            &-name
                font-family: 'Jost Regular'
                font-style: normal
                font-weight: normal
                font-size: 14px
                line-height: 187.19%
                text-align: center
                color: #5B5D6B
        &-price
            font-family: 'Jost Regular'
            font-style: normal
            font-weight: normal
            font-size: 18px
            line-height: 121.19%
            text-align: center
            text-transform: uppercase
            color: #1F1F1F
            margin-top: 1.5rem
        &-footer
            font-family: 'Jost Regular'
            font-style: normal
            font-weight: normal
            font-size: 8px
            line-height: 108.69%
            text-align: center
            color: #BBA260
            position: absolute
            margin-left: auto
            margin-right: auto
            left: 0
            right: 0
            bottom: -1.3rem
            text-align: center

.tovar-prev
    background: url("../img/icon/swiper-left.svg") center no-repeat
    left: -3rem
    &::before
        content: ''
        background: url("../img/icon/swiper-left.svg") center no-repeat
        width: 2rem
        height: 2rem
        position: absolute
        z-index: 2
    &::after
        content: ''
        width: 3.7rem
        height: 3.7rem
        display: inline-block
        background: none
        border: 1px solid #E4D9D5
        border-radius: 100%
        position: absolute
        top: -1.1rem
        left: -1.3rem
.tovar-next
    background: url("../img/icon/swiper-right.svg") center no-repeat
    margin-left: 4rem
    right: -3rem
    &::before
        content: ''
        background: url("../img/icon/swiper-right.svg") center no-repeat
        width: 2rem
        height: 2rem
        position: absolute
        z-index: 2
    &::after
        content: ''
        width: 3.7rem
        height: 3.7rem
        display: inline-block
        background: none
        border: 1px solid #E4D9D5
        border-radius: 100%
        position: absolute
        top: -1.1rem
        left: -1.2rem

.snacks-media-button-prev
    background: url("../img/icon/swiper-left.svg") center no-repeat
    &::before
        content: ''
        background: url("../img/icon/swiper-left.svg") center no-repeat
        width: 2rem
        height: 2rem
        position: absolute
        z-index: 2
    &::after
        content: ''
        width: 3.7rem
        height: 3.7rem
        display: inline-block
        background: rgba(0, 0, 0, 0.67)
        border: 1px solid #565656
        border-radius: 100%
        position: absolute
        top: -1.1rem
        left: -1.3rem
.snacks-media-button-next
    background: url("../img/icon/swiper-right.svg") center no-repeat
    margin-left: 4rem
    &::before
        content: ''
        background: url("../img/icon/swiper-right.svg") center no-repeat
        width: 2rem
        height: 2rem
        position: absolute
        z-index: 2
    &::after
        content: ''
        width: 3.7rem
        height: 3.7rem
        display: inline-block
        background: rgba(0, 0, 0, 0.67)
        border: 1px solid #565656
        border-radius: 100%
        position: absolute
        top: -1.1rem
        left: -1.2rem

.gallery__pagination
    position: absolute
    bottom: 0
    left: 50%
    height: 4rem

.gallery-prev
    background: url("../img/icon/swiper-left.svg") center no-repeat
    left: -3rem
    &::before
        content: ''
        background: url("../img/icon/swiper-left.svg") center no-repeat
        width: 2rem
        height: 2rem
        position: absolute
        z-index: 2
    &::after
        content: ''
        width: 3.7rem
        height: 3.7rem
        display: inline-block
        background: rgba(0, 0, 0, 0.67)
        border: 1px solid #565656
        border-radius: 100%
        position: absolute
        top: -1.1rem
        left: -1.3rem
.gallery-next
    background: url("../img/icon/swiper-right.svg") center no-repeat
    margin-left: 4rem
    right: -3rem
    &::before
        content: ''
        background: url("../img/icon/swiper-right.svg") center no-repeat
        width: 2rem
        height: 2rem
        position: absolute
        z-index: 2
    &::after
        content: ''
        width: 3.7rem
        height: 3.7rem
        display: inline-block
        background: rgba(0, 0, 0, 0.67)
        border: 1px solid #565656
        border-radius: 100%
        position: absolute
        top: -1.1rem
        left: -1.2rem

.img-media__item
    img
        @include img-resp

.bar-prev
    background: url("../img/icon/swiper-left.svg") center no-repeat
    &::before
        content: ''
        background: url("../img/icon/swiper-left.svg") center no-repeat
        width: 2rem
        height: 2rem
        position: absolute
        z-index: 2
    &::after
        content: ''
        width: 3.7rem
        height: 3.7rem
        display: inline-block
        background: rgba(0, 0, 0, 0.67)
        border: 1px solid #565656
        border-radius: 100%
        position: absolute
        top: -1.1rem
        left: -1.3rem
.bar-next
    background: url("../img/icon/swiper-right.svg") center no-repeat
    margin-left: 4rem
    &::before
        content: ''
        background: url("../img/icon/swiper-right.svg") center no-repeat
        width: 2rem
        height: 2rem
        position: absolute
        z-index: 2
    &::after
        content: ''
        width: 3.7rem
        height: 3.7rem
        display: inline-block
        background: rgba(0, 0, 0, 0.67)
        border: 1px solid #565656
        border-radius: 100%
        position: absolute
        top: -1.1rem
        left: -1.2rem

.warm-prev
    background: url("../img/icon/swiper-left.svg") center no-repeat
    &::before
        content: ''
        background: url("../img/icon/swiper-left.svg") center no-repeat
        width: 2rem
        height: 2rem
        position: absolute
        z-index: 2
    &::after
        content: ''
        width: 3.7rem
        height: 3.7rem
        display: inline-block
        background: rgba(0, 0, 0, 0.67)
        border: 1px solid #565656
        border-radius: 100%
        position: absolute
        top: -1.1rem
        left: -1.3rem
.warm-next
    background: url("../img/icon/swiper-right.svg") center no-repeat
    margin-left: 4rem
    &::before
        content: ''
        background: url("../img/icon/swiper-right.svg") center no-repeat
        width: 2rem
        height: 2rem
        position: absolute
        z-index: 2
    &::after
        content: ''
        width: 3.7rem
        height: 3.7rem
        display: inline-block
        background: rgba(0, 0, 0, 0.67)
        border: 1px solid #565656
        border-radius: 100%
        position: absolute
        top: -1.1rem
        left: -1.2rem

.shop-prev
    background: url("../img/icon/swiper-left.svg") center no-repeat
    &::before
        content: ''
        background: url("../img/icon/swiper-left.svg") center no-repeat
        width: 2rem
        height: 2rem
        position: absolute
        z-index: 2
    &::after
        content: ''
        width: 3.7rem
        height: 3.7rem
        display: inline-block
        background: rgba(0, 0, 0, 0.67)
        border: 1px solid #565656
        border-radius: 100%
        position: absolute
        top: -1.1rem
        left: -1.3rem
.shop-next
    background: url("../img/icon/swiper-right.svg") center no-repeat
    margin-left: 4rem
    &::before
        content: ''
        background: url("../img/icon/swiper-right.svg") center no-repeat
        width: 2rem
        height: 2rem
        position: absolute
        z-index: 2
    &::after
        content: ''
        width: 3.7rem
        height: 3.7rem
        display: inline-block
        background: rgba(0, 0, 0, 0.67)
        border: 1px solid #565656
        border-radius: 100%
        position: absolute
        top: -1.1rem
        left: -1.2rem

.hamburger-menu
    display: none
    position: fixed

.hamburger-menu-black
    .menu__btn
        span
            background-color: #1F1F1F
        span::after
            background-color: #1F1F1F
        span::before
            background-color: #1F1F1F

#menu__toggle
    opacity: 0
    &:checked ~ .menu__btn > span
        transform: rotate(45deg)
    &:checked ~ .menu__btn > span::before
        top: 0
        transform: rotate(0)
    &:checked ~ .menu__btn > span::after
        top: 0
        transform: rotate(90deg)
    &:checked ~ .menu__box
        visibility: visible
        left: 0

.menu__btn
    display: flex
    align-items: center
    position: fixed
    top: 20px
    left: 20px
    width: 40px
    height: 40px
    cursor: pointer
    z-index: 2
    & > span,
    & > span::before,
    & > span::after
        display: block
        position: absolute
        width: 100%
        height: 3px
        background-color: #FFFFFF
        transition-duration: .25s
    & > span::before
        content: ''
        top: -8px
    & > span::after
        content: ''
        top: 8px

.menu__box
    display: block
    position: fixed
    visibility: hidden
    top: 0
    left: -100%
    width: 300px
    height: 100%
    margin: 0
    padding: 80px 0
    list-style: none
    background: rgba(0, 0, 0, 0.74)
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2)
    transition-duration: .25s
    z-index: 1

.menu__item
    display: block
    padding: 12px 24px
    color: #FFFFFF
    font-family: 'Roboto', sans-serif
    font-size: 20px
    font-weight: 600
    text-decoration: none
    transition-duration: .25s
    text-transform: uppercase

    &:hover
        background-color: #CFD8DC

.contacts__address
    display: flex
    align-items: center

.light
    background: #E5E5E5

.white
    padding-bottom: 139px

.header-black
    .nav__link
        color: #494949
    .header__logo-offer
        color: #494949

.section__news-subtitle
    font-family: Jost
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 121.19%
    color: #A5A7B6
    margin-top: 29px
    width: 477px

.section__news-main
    margin-top: 102px
    margin-left: 108px
    .section__left-title
        width: 525px
        white-space: normal
        font-size: 48px

.section__news
    margin-top: 59px
    &:nth-child(2)
        margin-top: -3rem
    &:nth-last-child(-n+1)
        margin-bottom: 141px

.wr-for-number
    position: relative

.section__news-number
    font-family: Lora
    font-style: normal
    font-weight: normal
    font-size: 140px
    line-height: 108.19%
    text-transform: uppercase
    color: #E5E5E5
    -webkit-text-stroke: 1px #D8CA9C
    position: absolute
    top: -3.4rem
    left: 11rem

.section__news-wr
    display: flex
    justify-content: space-between
    align-items: end

.section__news-desc
    background: #FFFFFF
    padding: 43px 45px 50px 46px
    width: 610px
    transform: translate(47%, -2%)
    &::after
        content: ''
        width: 105.56px
        height: 0px
        position: absolute
        top: 54px
        left: -80px
        border: 1px solid #9B967E

.section__news-img
    width: 1078px
    height: 618px
    img
        @include img-resp
        object-fit: cover

.snacks__title
    text-transform: uppercase
    width: 300px

.separate
    margin-top: 2.3rem
    margin-left: 8.2rem
    .section__left-title
        white-space: normal
        font-size: 48px
        width: 965px
        margin-top: 42px

.section-news__wr
    display: flex
    margin: 2.6rem 4rem 0 6rem

.section-news__wr-left
    width: 80%
    margin-right: 27px

.section-news__wr-left-img
    width: 100%
    height: 758px
    img
        @include img-resp
        object-fit: cover

.section-news__wr-left-text
    margin-top: 83px
    font-family: "Jost"
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 142.19%
    color: #A5A7B6
    width: 92%
    margin-left: auto
    margin-right: auto
    p
        margin-top: 30px
    p:nth-child(1)
        margin-top: 0

.social__wr-text
    font-family: "Jost"
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 142.19%
    color: #343437
    margin-right: 29px

.social__wr
    display: flex
    align-items: center
    margin-top: 120px
    margin-left: 7.5rem

.links
    position: relative
    z-index: 10
    &__social
        position: absolute
        bottom: 1.3rem
        left: 2.7rem
        display: flex
        z-index: 1
        &-wr
            position: relative
            margin-right: 0.4rem
            width: 1.4rem
            height: 1.4rem
            border: 1px solid #E6E6EE
            box-sizing: border-box
            border-radius: 4px
            &:hover
                border: 1px solid #CDCDCD
        &-img
            cursor: pointer
            margin: 0
            position: absolute
            top: 50%
            left: 50%
            margin-right: -50%
            transform: translate(-50%, -50%)
            font-size: 16px
            color: #464646
        &-img-twitter:after
            content: "\e902"
            font-family: "icomoon"
        &-img-vk:after
            content: "\e903"
            font-family: "icomoon"
        &-img-facebook:after
            content: "\e900"
            font-family: "icomoon"
        &-img-instagram:after
            content: "\e901"
            font-family: "icomoon"

.event-gray
    background: #F0F0F0

.event
    padding: 29px 39px 29px 39px
    &__wr
        display: flex
        justify-content: space-between

.event .section__left-title
    font-size: 48px
    margin-top: 78px

.event__wrapper
    display: flex
    margin-top: 29px

.event__wrapper-links
    font-family: "Source Sans Pro"
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 121.19%
    color: #A5A7B6
    margin-right: 29px

.event__wrapper-links-active
    color: #D8CA9C

.event__wr-element
    position: relative
    .wr-for-number
        position: absolute
        bottom: 5rem
        left: 20rem
        z-index: 1

.event__img
    width: 798px
    height: 826px
    img
        @include img-resp
        object-fit: cover

.event__desc
    background: #F5F5F5
    padding: 43px 45px 50px 46px
    width: 610px
    &::after
        content: ''
        width: 105.56px
        height: 0px
        position: absolute
        top: 54px
        left: -80px
        border: 1px solid #9B967E

.event__number
    font-family: Lora
    font-style: normal
    font-weight: normal
    font-size: 140px
    line-height: 108.19%
    text-transform: uppercase
    color: transparent
    -webkit-text-stroke: 1px#D8CA9C
    position: absolute
    top: 0
    left: -17rem

.event__desc .news-media__item-wr2-title
    text-transform: uppercase

.event__desc-subtitle
    font-family: "Source Sans Pro"
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 121.19%
    color: #A5A7B6
    margin-top: 17px
    margin-bottom: 63px

.separate-events
    margin-top: 2.3rem
    margin-left: 6rem
    .section__left-title
        white-space: normal
        font-size: 48px
        width: 965px
        margin-top: 42px
    .event__wrapper-links
        margin-top: 29px

.section-events .section-news__wr
    margin: 32px 4rem 0 6rem

.section-events__wr
    display: flex

.section-events__wr-element-column
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 446px
    img
        width: 201px
        height: 224px

.section-events__wr-element-img
    width: 683px
    height: 758px
    margin-right: 43px
    img
        @include img-resp
        object-fit: cover

.column-img
    width: 201px
    height: 224px
    margin-bottom: 43px
    img
        @include img-resp
        object-fit: cover

.section-events__text
    font-family: "Jost"
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 142.19%
    color: #A5A7B6

.section-events__text p
    margin-top: 30px

.section-events__text p:nth-child(1)
    margin-top: 0

.social-events__wr
    margin-left: 6rem

.slider
    max-width: 100% !important
    margin-left: 0 !important
    margin-right: 0 !important

.slider__indicators
    display: none

.slider__control
    width: 105px !important
    height: 105px !important
    background: rgba(0, 0, 0, 0.67) !important
    border: 1px solid #565656
    border-radius: 100%
    opacity: 1 !important
    top: 90% !important
    &_prev
        left: 40% !important
    &_next
        right: 40% !important
    &::before
        width: 26px !important
    &_next::before
        background: url("../img/icon/swiper-right.svg") center no-repeat !important
    &_prev::before
        background: url("../img/icon/swiper-left.svg") center no-repeat !important

.slider__items
    counter-reset: slide

.slider__item
    counter-increment: slide
    display: flex
    background-color: #eee

.slider img
    width: 100%
    height: 100%
    object-fit: cover

.slider__thumbnails
    display: flex
    flex-flow: row wrap
    align-content: center
    max-width: 100%
    height: 100%
    background: #FFFFFF
    padding: 37px 37px 0 37px
    &-item
        line-height: 0
        margin: 0 25px 10px 0
        overflow: hidden
        transition: 0.15s opacity ease-in-out
        width: 308px
        height: 184px
    &-item:nth-child(4n)
        margin-right: 0
    &-item:hover
        opacity: 1
    &-item>img
        display: inline-block
        width: 100%
        height: auto

.slider__wrapper
    height: 600px

.modal-preview
    .modal-content
        position: relative
        background-color: #FFFFFF
        margin: auto
        padding: 0
        width: 72%
        height: 75%
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
        -webkit-animation-name: animatetop
        -webkit-animation-duration: 0.4s
        animation-name: animatetop
        animation-duration: 0.4s

#fullpage
    max-width: 100vw
    overflow: hidden

// Mobal-ver
@media (max-width: 1920px)
    .header__logo-offer
        white-space: nowrap
    .event__wr-element .wr-for-number
        left: 5rem
    .event__number
        left: -6rem
    .event__desc::after
        left: -30px
        width: 70px
    .section-events__wr-element-img
        width: 50%
    .slider__thumbnails-item:nth-child(3n)
        margin-right: 0
    .slider__thumbnails-item:nth-child(4n)
        margin: 0 25px 10px 0
    .slider__indicators
        display: none !important
    .slider__thumbnails
        justify-content: center
        padding: 37px 0px 0 0px
@media (max-width: 1549px)
    .nav__item
        margin-right: 0
    .header__logo
        margin-left: 0
    .section__news-desc
        transform: translate(10%,-2%)
    .section__news-number
        left: 3rem
    .section__news-desc::after
        width: 80px
        left: -55px
    .separate
        margin-left: 3rem
    .section-news__wr
        margin: 2rem 2rem 0 2rem
    .section-news__wr-left-img
        height: 60%
    .section-news__wr-left-text
        margin-top: 53px
    .social__wr
        margin-top: 90px
        margin-left: 3rem
    .event__img
        width: 100%
        height: 95%
    .event .section__left-title
        margin-right: 20px
        margin-top: 40px
    .event__desc
        padding: 33px 30px 30px 30px
        width: 500px
    .event__desc-subtitle
        margin-top: 15px
        margin-bottom: 43px
    .event__wr-element .wr-for-number
        bottom: 2rem
    .event__desc::after
        top: 42px
        left: -45px
    .event__number
        top: -2.5rem
        left: 1rem
        z-index: -1
    .event .section__left-title
        width: 470px
    .separate-events
        margin-left: 1rem
    .section-events .section-news__wr
        margin: 3rem 1rem 0 1rem
    .column-img
        width: 40%
    .social-events__wr
        margin-left: 1rem
@media (max-width: 1262px)
    .header__logo-offer
        white-space: normal
@media (max-width: 1200px)
    .nav__link
        font-size: .4rem
    .nav__item
        margin-right: 0.1rem
    .header__logo
        margin-left: 0
    .header__logo-offer
        margin-top: 10px
    .main-banner-section-content
        max-width: 38rem
        font-size: 1.2rem
    .title-center
        margin-left: 0
    .section__left
        padding-left: 2.7rem
    .news-swiper-navigation
        right: 3rem
    .news-media__item-wr2
        top: 9rem
        left: 0
        width: 99%
        padding: 1rem 1rem
        font-size: 28px
    .map__location
        width: 100%
    .ymaps-2-1-79-map
        width: 100%
    .section__left-title
        overflow: hidden
    .section__wr
        left: 56px
        width: 20rem
        padding: 3rem 0 2rem 2rem
    .section__wr-subtitle
        margin-bottom: 40px
    .section__img-1
        width: 250px
        height: 250px
        img
            @include img-resp
    .section__img-2
        width: 230px
        height: 230px
        img
            @include img-resp
    .section__img-3
        z-index: -1
    .section__img-5
        z-index: -1
    .section__img-6
        z-index: -1
        width: 230px
        height: 230px
        bottom: 2rem
        img
            @include img-resp
    .section-black .section__wr-subtitle
        width: 11rem
    .section__left
        padding-left: 2rem
    .news__title
        padding-left: 0
    .contact .section__wr
        padding: 3rem 0 2rem 20px
    .section__news-desc
        width: 500px
    .section__news-main
        margin-left: 10px
    .section__news:nth-child(2)
        margin-top: -1.4rem
    .section__news-desc
        padding: 40px 35px 40px 35px
    .section__news-desc::after
        top: 50px
    .news-media__item-wr2-title
        font-size: 30px
    .separate
        margin-left: 1.5rem
    .section-news__wr-left-img
        height: 50%
    .separate .section__left-title
        font-size: 40px
    .section-news__wr-left-text
        font-size: 16px
    .section-news__wr-left-text p
        margin-top: 25px
    .event .section__left-title
        margin-top: 25px
    .event
        padding: 29px 10px 29px 10px
    .event .section__left-title
        font-size: 40px
    .event__wrapper
        margin-top: 24px
    .news-media__item-wr2-title
        font-size: 25px
    .event__desc-subtitle
        margin-bottom: 30px
    .event__number
        font-size: 110px
        top: -2.1rem
    .event__desc::after
        left: -55px
    .separate-events .section__left-title
        width: 100%
        font-size: 44px
    .section-events__wr
        flex-direction: column
    .section-events__wr-element-img
        width: 100%
        height: 10%
    .section-events__wr-element-column
        width: 100%
        margin-top: 20px
    .column-img
        width: 30%
        margin-bottom: 20px
    .slider__control_next
        right: 34%!important
    .slider__control_prev
        left: 34% !important
    .slider__thumbnails-item:nth-child(3n)
        margin: 0 25px 10px 0
    .slider__thumbnails-item:nth-child(2n)
        margin-right: 0

@media (max-width: 991px)
    .nav__link
        font-size: .32rem
    .header__logo
        flex-direction: column
    .content-2 .main-banner-section-content
        width: 90%
        font-size: 16px
    .section__left-title
        overflow: hidden
    .section__left
        float: none
        width: 100%
        padding-top: 3rem
        min-height: 11rem
    .section__right
        float: none
        width: 100%
    .section__line
        display: none
    .section__wr
        width: 90%
        top: 10%
    .section__img-1
        width: 9rem
        height: 9rem
        img
            @include img-resp
    .section__img-2
        width: 9rem
        height: 9rem
        right: 3rem
        bottom: 1rem
        img
            @include img-resp
    .section__img-5
        top: 1rem
    .section__img-6
        bottom: 2rem
    .section__btn
        margin: 0 auto
        margin-top: 1.4rem
        .btn-light
            width: 94%
    .events-swiper-navigation
        flex-direction: row
        justify-content: space-between
        align-items: center
        top: 17%
        width: 6rem
    .events-next
        margin-top: 0
    .events-media__content-wrap
        top: 46%
        left: 50%
        margin-right: -50%
        transform: translate(-50%, -50%)
    .news-swiper-navigation
        top: 7rem
        right: 21rem
    .news
        padding: 2rem 1rem 0 1rem
    .news-media__content-wrap
        margin-top: 6rem
    .news-media__item-wr2
        left: 0
    .news-media__item-wr2-title
        font-size: 25px
    .news-media__item-wr2-btn
        margin-top: 0.8rem
        .btn-light
            width: 100%
    .news
        max-height: 20rem
    .contacts__connection
        display: block
    .contacts__connection-wr
        margin-top: 1rem
    .contacts__connection
        margin-top: 0
    .contacts__address
        display: flex
    .contacts__text
        margin-left: 0.6rem
    .contacts
        min-height: 18rem
        .section__wr
            padding: 1.7rem 0 3rem 2rem
    .footer__text
        width: 26rem
    .news-swiper-navigation
        width: 7rem
    .separate .section__left-title
        width: 100%
    .separate
        margin-top: 3.5rem
        margin-left: 0
    .separate .section__left-title
        font-size: 35px
    .section-news__wr
        flex-direction: column
        margin: 2rem 0
    .section-news__wr-left
        width: 100%
        margin-right: 0
    .section-news__wr-left-text
        width: 100%
    .social__wr
        margin-top: 2rem
        margin-left: 0
        justify-content: center
    .section-news__wr-btn
        margin-top: 2rem
    .white
        padding-bottom: 3rem
    .event .section__left-title
        width: 350px
        white-space: normal
        margin-top: 0
        font-size: 30px
    .event__desc
        padding: 25px 25px 25px 25px
        width: 450px
    .event__desc::after
        top: 34px
    .event__desc-subtitle
        font-size: 16px
        margin-bottom: 20px
        margin-top: 13px
    .event__wr-element .wr-for-number
        left: 1.2rem
    .event__wrapper
        margin-top: 10px
    .event__wrapper-links
        font-size: 16px
    .section-events .section-news__wr
        margin: 2rem 1rem 0 1rem
    .slider__control_prev
        left: 5%!important
    .slider__control_next
        right: 5%!important
    .slider__thumbnails-item
        width: 208px
        height: 117px
@media screen and (max-width: 575px)
    .section
        min-height: 24rem
    .main-banner
        max-width: 100%
    .section__wr
        width: 90%
        top: 10%
        left: 50%
        padding: 33px 25px 35px 25px
        transform: translate(-50%, 0)
    .section__wr-title
        font-size: 20px
    .section__wr-subtitle
        font-size: 12px
        width: 198px
    .section__left
        padding-top: 33px
        padding-left: 25px
    .section__right
        height: 375px
    .section__left-title
        overflow: hidden
        font-size: 43px
    .hamburger-menu
        display: block
    .header__logo-offer
        display: none
    .header__nav
        display: none
    .header__logo
        position: absolute
        top: 0
        right: 1rem
    .header__social
        left: 50%
        margin-right: -50%
        transform: translate(-50%, -50%)
    .events-swiper-navigation
        top: 50px
        left: 30px
        width: 6rem
        height: 3rem
        position: relative
        z-index: 2
    .swiper__pagination
        width: 80%
    .main-banner-section-content
        width: 236px
        position: relative
        img
            width: 100%
            transform: translate(-50%, -170%)
    .section__img-1
        width: 100px
        height: 100px
        top: 10px
        right: 10px
    .section__img-2
        width: 150px
        height: 150px
        right: 15px
        bottom: 1rem
    .section__img-3
        width: 120px
        height: 240px
        img
            @include img-resp
    .section__img-4
        width: 150px
        height: 210px
        right: 5px
        img
            @include img-resp
    .section__img-5
        width: 100px
        height: 90px
        top: 15px
        right: 30px
        img
            @include img-resp
    .section__img-6
        width: 120px
        height: 106.47px
        right: 1.2rem
        bottom: 1rem
        img
            @include img-resp
    .section__wr-bottom
        margin-top: 37px
        z-index: 2
        position: relative
    .section__wr-link
        font-size: 12px
    .section__wr-arrow
        width: 35px
        height: 8px
        position: relative
        margin-left: 13px
        img
            position: absolute
            @include img-resp
    .section__wr-arrow::after
        width: 40px
        height: 40px
        left: 16px
    .swiper__pagination
        bottom: 50px
        left: 1.5rem
    .bar-next::after
        width: 74px
        height: 74px
        top: -19px
        left: -25px
    .bar-prev::after
        top: -19px
        left: -21px
        width: 74px
        height: 74px
    .activity-next::after
        width: 74px
        height: 74px
        top: -19px
        left: -25px
    .activity-prev::after
        width: 74px
        height: 74px
        top: -19px
        left: -21px
    .warm-next::after
        width: 74px
        height: 74px
        top: -19px
        left: -25px
    .warm-prev::after
        width: 74px
        height: 74px
        top: -19px
        left: -21px
    .shop-prev::after
        width: 74px
        height: 74px
        top: -19px
        left: -25px
    .shop-next::after
        width: 74px
        height: 74px
        top: -19px
        left: -21px
    .snacks-media-button-next::after
        width: 74px
        height: 74px
        top: -19px
        left: -25px
    .snacks-media-button-prev::after
        width: 74px
        height: 74px
        top: -19px
        left: -21px
    .section-black .section__wr-subtitle
        width: 191px
    .section-brown .section__wr-subtitle
        width: 177px
    .section-white .section__wr-subtitle
        width: 198px
    .section-white .section__wr-title
        width: 269px
    .events-media__content-wrap
        width: 90%
        top: 50%
    .events-media__content
        top: 10%
    .events-media__item
        padding: 36px 25px 30px 25px
        max-height: 11rem
    .events-media__item-data
        font-size: 12px
    .events-media__item-title
        font-size: 20px
        margin-top: 7px
    .events-media__item-descr
        font-size: 12px
        width: 228px
        margin-bottom: 22px
    .events-pagination
        top: 62%
        left: 25px !important
        width: 65px !important
    .events-photo-media__content-wrap
        height: 375px
        margin-top: 220px
    .news__title
        padding-left: 0
    .news-swiper-navigation
        top: 4rem
        right: 0
        left: 2rem
    .news-media__item-wr2
        width: 100%
        top: 7rem
        left: 0
        padding: 20px 17px 17px 17px
    .news-media__item-wr2-data
        font-size: 12px
    .news-media__item-wr2-title
        font-size: 20px
        margin-top: 7px
    .news-media__item-wr2-btn .btn-light
        text-align: center
        padding: 15px 15px
    .news
        max-height: 700px
    .contacts .section__wr
        padding: 31px 27px 36px 25px
    .contacts
        min-height: 12rem
    .contacts__text
        font-size: 12px
    .map__location
        height: 450px
    .footer
        padding: 44px 20px 36px 20px
    .footer__text
        font-size: 20px
        width: 100%
    .section__map
        height: 430px
    .footer__buy
        font-size: 14px
    .modal-content .swiper-slide
        display: flex
        flex-direction: column
    .tovar-media__item-left
        width: 100%
        height: 50%
    .tovar-media__item-right
        width: 100%
        height: 50%
    .tovar-next
        right: -2.1rem
    .tovar-prev
        left: -2.1rem
    .tovar-next::after
        width: 74px
        height: 74px
        top: -19px
        left: -25px
    .tovar-prev::after
        width: 74px
        height: 74px
        top: -19px
        left: -21px
    .tovar__wr
        width: 90%
        height: 86%
        top: 7%
        display: flex
        flex-direction: column
        justify-content: space-between
    .tovar__wr-count
        margin-top: 0
        font-size: 12px
    .tovar__wr-title
        margin-top: 0
        font-size: 12px
    .tovar__wr-price
        font-size: 12px
        margin-top: 0
    .tovar__wr-block-name
        font-size: 12px
        line-height: 1.2
    .tovar__wr-block
        margin-top: 0
    .tovar__wr-footer
        margin-top: 0
        position: initial
    .section__news-main
        margin-top: 100px
        margin-left: 0
    .section__news-main .section__left-title
        width: 90%
        font-size: 30px
    .section__news-subtitle
        width: auto
    .section__news-subtitle
        font-size: 16px
    .section__news-wr
        flex-direction: column
        align-items: center
    .section__news-img
        width: 100%
        height: 290px
    .section__news-desc
        width: 100%
        padding: 20px 17px 17px 17px
        transform: translate(0%,0%)
    .section__news:nth-child(2)
        margin-top: 4rem
    .section__news-number
        left: 1rem
        top: -2.1rem
        font-size: 100px
    .section__news-desc::after
        display: none
    .section__news
        margin-top: 100px
    .wr-for-number
        width: 100%
    .separate .section__left-title
        font-size: 25px
    .separate .section__left-title
        margin-top: 30px
    .section-news__wr
        margin-top: 1rem
    .section-news__wr-left-text
        margin-top: 1rem
    .section-news__wr-btn
        margin-top: 1.5rem
    .white
        padding-bottom: 2rem
    .section-news__wr-left-text
        font-size: 14px
    .event
        padding: 80px 10px 29px 10px
    .event__wr
        flex-direction: column
    .event__wr-element .wr-for-number
        position: static
    .event .section__left-title
        font-size: 20px
        width: 100%
    .event__wrapper
        margin-top: 20px
        margin-bottom: 90px
    .event__wrapper-links
        font-size: 14px
    .event__desc::after
        display: none
    .event__desc
        width: 100%
    .event__desc-subtitle
        font-size: 12px
    .event__img
        height: 290px
    .event__number
        z-index: 1
        top: -2.6rem
    .event-first
        padding: 120px 10px 29px 10px
    .event-first .event__number
        top: 4rem
    .event__desc
        position: relative
        z-index: 2
    .separate-events
        margin: 4rem 0 0 0
    .separate-events .section__left-title
        font-size: 20px
    .section-news__wr
        margin: 2rem 0 0 0
    .section-events__text
        font-size: 14px
    .section-events__text p
        margin-top: 20px
    .slider__wrapper
        height: 330px
    .slider__control
        width: 74px !important
        height: 74px !important
        top: 85%!important
    .slider__thumbnails-item:nth-child(n)
        margin-right: 0
    .slider__thumbnails-item:nth-child(3n)
        margin-right: 0
    .slider__thumbnails-item
        width: 130px
        height: 100px
    .slider__thumbnails
        justify-content: space-between
